@import url("../../../styles/variables.css");

.dictionary-page-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 97%;
  height: 100%;
  padding: 16px;

  background: var(--bg-main);
  overflow-y: auto;
}

.table-filter {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
