@import "../../../styles/colors.css";

hr {
  border: none;
  margin: 0;
  width: 100%;
  border: var(--sidebar-border) 0.75px solid;
}

header {
  height: 8%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 18vw;
  height: 100vh;
  background-color: var(--sidebar-bg);
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid var(--sidebar-border);
}

.sidebar-title {
  margin: 8px 8px 8px 16px;
  color: var(--text-white);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sidebar-list {
  margin: 0;
  padding: 8px 0;
  /* padding: 0; */
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  gap: 0;
  align-items: stretch;
}

.sidebar-list > li {
  display: block;
  margin: 0;
  padding: 0;
}

.sidebar-list > a {
  display: block;
  width: 95%;
  padding: 8px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 8px;
  transition: var(--transition);
  color: var(--text-white);
}

.sidebar-list > :last-child {
  margin-top: auto;
  /* margin-bottom: 0; */
}

.copyright-text {
  font-size: 10px;
  color: var(--text-muted);
  padding: 16px;
  text-align: center;
  margin: 0;
  max-width: 180px;
  line-height: 1.4;
}
