@import url("../../../styles/variables.css");

.flashcards-page-content {
  background-color: var(--bg-main);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .flashcards-page-content {
    padding: 16px;
  }
}
