@import url("../../../styles/variables.css");

.flashcards-page {
  background-color: var(--bg-main);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcards-page-content {
  background-color: var(--bg-main);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
