@import url("../../../styles/colors.css");

.home-page-header {
  background-color: var(--bg-darker);
  border-bottom: 1px solid var(--border);
  padding: 16px;
}

.home-page-content {
  background-color: var(--bg-main);
}
