@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pridi:wght@200;300;400;500;600;700&display=swap");
@import "./styles/variables.css";

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-logo) var(--bg-main);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.app-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-main);
}

main {
  flex: 1;
  overflow: hidden;
  background-color: var(--bg-main);
}

/* .app-container > div:last-child {
  flex: 1;
  overflow: auto;
  background-color: var(--bg-main);
  color: var(--content-text);
} */

/* .app-container > div:last-child h1,
.app-container > div:last-child h2,
.app-container > div:last-child h3,
.app-container > div:last-child h4,
.app-container > div:last-child h5,
.app-container > div:last-child h6 {
  color: var(--content-heading);
}

.app-container > div:last-child p,
.app-container > div:last-child a,
.app-container > div:last-child div {
  color: var(--content-text);
} */
